In [69]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
import numpy as np

In [40]:
df = pd.read_csv('placement.csv')

In [41]:
df.sample(5)

     cgpa  package
18   6.94     2.98
94   5.83     2.42
139  7.19     2.40
63   9.16     4.25
28   5.94     2.24

In [42]:
df.describe()

             cgpa     package
count  200.000000  200.000000
mean     6.990500    2.996050
std      1.069409    0.691644
min      4.260000    1.370000
25%      6.190000    2.487500
50%      6.965000    2.995000
75%      7.737500    3.492500
max      9.580000    4.620000

In [43]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [44]:
X_train,X_test,y_train,y_test = train_test_split(df.loc[:,['cgpa']],df['package'],test_size=0.2,random_state=42)

In [67]:
X_train

     cgpa
79   7.18
197  7.21
38   8.62
24   6.53
122  5.12
..    ...
106  6.13
14   7.73
92   7.90
179  7.14
102  5.13

[160 rows x 1 columns]

In [53]:
lr = LinearRegression()

In [65]:
lr.fit(X_train,y_train)

LinearRegression()

In [56]:
y_pred = lr.predict(X_test)

In [57]:
y_pred

array([2.78031348, 3.13635249, 3.1995207 , 2.38981908, 3.52684689,
       3.76803461, 3.16506531, 2.54486832, 3.17655044, 3.4923915 ,
       1.90744364, 2.34962112, 3.6876387 , 2.75734322, 3.47516381,
       3.04447145, 2.32665086, 3.20526327, 2.17734418, 3.314372  ,
       2.45298729, 2.90090734, 3.32011456, 2.87219451, 3.33734226,
       2.19457187, 1.41932564, 2.7114027 , 3.18229301, 2.32665086,
       3.74506435, 2.95833298, 3.68189614, 2.97556068, 2.59080884,
       3.34882738, 2.47595755, 3.07318428, 4.17575671, 2.95833298])

In [58]:
y_test

95     2.79
15     3.23
30     3.26
158    3.04
128    3.34
115    4.21
69     2.94
170    2.87
174    2.99
45     3.58
66     1.63
182    2.08
165    4.08
78     2.21
186    3.47
177    3.64
56     2.74
152    3.08
82     2.17
68     2.99
124    2.31
16     2.35
148    3.40
93     3.08
65     3.81
60     2.19
84     1.53
67     2.89
125    3.16
132    2.48
9      3.51
18     2.98
55     3.39
75     3.28
150    2.73
104    3.74
135    2.60
137    3.13
164    3.82
76     3.15
Name: package, dtype: float64

In [66]:
lr.score(X_test,y_test)

0.7730984312051673

In [71]:
x = 7.45

In [78]:
lr.predict(np.array(4.26).reshape(1,1))

/home/woyce-1-3/anaconda3/envs/django/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.41932564])